.adduser {
  display: flex;
  flex-direction: column;
  margin: 10%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
}
.adduser__input,
.adduser__button {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
.adduser__input:hover,
.adduser__button:hover {
  background: white;
  border: none;
}
